<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation </title>
</head>
<body>
    <form  action="http://localhost:8080/api/auth/confirm/<%= token.token%>" method="post">
        <h1> confirm your account </h1>
        <input type="submit" name="submit"  value="Confirm">
    </form>
</body>
</html>